section.hero
	.hero__bg
		img(src='./images/hero.webp', alt='hero-bg')
		.hero__bg-overlay
	.container.hero__content
		svg.preloader-logo(width='120' height='120' viewBox='0 0 120 120' fill='none' xmlns='http://www.w3.org/2000/svg')
			path.logo-part-1(d='M86.8869 34.6669C92.0998 34.0262 96.7396 32.2778 97.1694 30.7792C97.6102 29.2915 97.6102 25.5992 97.1694 22.602C96.7396 19.5939 94.2488 17.1396 91.6369 17.1396C89.0249 17.1396 82.3793 17.4003 76.8689 17.7261L70.0359 18.117C64.5255 18.4428 55.4993 18.4319 49.9889 18.0844L44.7099 17.7586C39.1884 17.422 32.2011 17.1396 29.1484 17.1396C26.0956 17.1396 23.2522 19.5939 22.8224 22.602C22.3925 25.5992 22.3925 29.2806 22.8224 30.7792C23.2522 32.2778 27.8699 34.0262 33.0938 34.6669C38.3177 35.3076 46.5063 36.1981 51.3004 36.6216C56.0835 37.056 63.9193 37.056 68.7024 36.6216C73.4855 36.1873 81.663 35.3076 86.8869 34.6669Z' fill='#FF6E00')
			path.logo-part-2(d='M81.7471 102.857C85.0093 102.857 88.9327 102.509 90.4536 102.086L90.4757 102.097C91.9965 101.673 93.0656 96.9384 92.8341 91.5738C92.6247 86.2201 92.261 78.4989 92.0516 74.4266C91.8312 70.3651 91.4675 63.5345 91.2692 59.245C91.0377 54.9555 90.6851 49.0044 90.4646 45.9963C90.2442 42.9991 88.2935 40.8924 86.1114 41.3159C83.9292 41.7286 79.1241 42.7928 75.4321 43.6507C71.7291 44.5086 68.8526 49.656 69.029 55.0966L69.1833 60.2549C69.3596 65.6955 69.1392 74.3614 68.6984 79.498C68.2575 84.6346 67.7285 91.6498 67.4971 95.0814C67.2877 98.513 69.0841 101.662 71.4646 102.086C73.8671 102.509 78.4849 102.857 81.7471 102.857Z' fill='#FF6E00')
			path.logo-part-3(d='M38.2626 102.857C41.5248 102.857 46.1425 102.509 48.5451 102.086V102.075C50.9366 101.652 52.711 98.5023 52.4906 95.0707C52.2701 91.6391 51.7411 84.6238 51.3113 79.4873C50.8705 74.3507 50.6501 65.6848 50.8264 60.2442L50.9807 55.0859C51.157 49.6561 48.2696 44.4978 44.5776 43.6399C40.8856 42.782 36.0804 41.7287 33.9093 41.3051C31.7272 40.8816 29.7655 42.9884 29.5561 45.9856C29.3246 48.9937 28.972 54.9556 28.7515 59.2342C28.5311 63.5129 28.1784 70.3435 27.969 74.4159C27.7597 78.4882 27.396 86.2093 27.1866 91.5631C26.9772 96.9277 28.0352 101.662 29.5671 102.086C31.088 102.509 35.0004 102.857 38.2626 102.857Z' fill='#FF6E00')
			.preloader-overlay
		+icon('title', '1320', '210', 'hero__title')
		+icon('title-2', '120', '15', 'hero__subtitle')
		svg(class='hero__scroll' width='64' height='64' viewBox='0 0 64 64' fill='none' xmlns='http://www.w3.org/2000/svg')
			rect(x='19.1855' y='12.4121' width='25.6289' height='39.1763' rx='12.8145' stroke='#FF6E00')
			rect.hero__scroll-anim(x='31' y='21' width='2' height='8' fill='#EFEFEF')
	.container.hero__content-2
		h1.hero__heading Уникальные минералы, окаменелости, метеориты <br> и изделия <br> из камня
		a.link.link--medium.hero__link.anchor(href='#catalog') Перейти в каталог