extends ../layouts/default

block vars
	- const title = 'Камневеды — эксклюзивные камни и минералы ';

block main
	include ../blocks/hero.pug
	include ../blocks/catalog.pug
	include ../blocks/feedback.pug

block scripts
