/* Breakpoints */
$media-list: (
	'xs': 568,
	'sm': 768,
	'md': 1080,
	'lg': 1440,
	'xl': 1600,
	'xxl': 1900
);

/* Fonts */
$mainFont: 'Gilroy', sans-serif;
$secondFont: 'Oswald', sans-serif;
$thirdFont: 'Moniqa', sans-serif;

:root {
	/* Timing */
	--duration-default: 0.3s;

	/* Colors */
	--color-base: rgb(239, 239, 239);
	--color-secondary-01: rgba(239, 239, 239, 0.1);
	--color-secondary-02: rgba(239, 239, 239, 0.2);
	--color-secondary-03: rgba(239, 239, 239, 0.3);
	--color-secondary-04: rgba(239, 239, 239, 0.4);
	--color-secondary-05: rgba(239, 239, 239, 0.5);
	--color-secondary-06: rgba(239, 239, 239, 0.6);
	--color-secondary-08: rgba(239, 239, 239, 0.8);
	--color-orange: rgb(255, 110, 0);
	--color-black: rgb(0, 0, 0);
	--color-white: rgb(255, 255, 255);
	--color-background-field: rgb(32, 32, 32);
	--color-error: rgb(224, 49, 49);
}
